// Layout

section.main {
  padding-top: (@font-size-h1 * 2);
  padding-bottom: (@font-size-h1 * 2);
}

.flex-container {
  display: flex;
  .flex-item,
  > * {
    // .flex-item styles
  }
}
.block-children > * {
  display: block;
}
.flex-children {
  display: flex;
  flex-wrap: wrap;
  margin: ceil((@grid-gutter-width / -2)) ceil((@grid-gutter-width / -2)) floor((@grid-gutter-width / -2)) floor((@grid-gutter-width / -2));
  > * {
    margin: ceil((@grid-gutter-width / 2)) ceil((@grid-gutter-width / 2)) floor((@grid-gutter-width / 2)) floor((@grid-gutter-width / 2));
  }
  // make sure inline elements with set to flex are still inline
  a& {
    display: inline-flex;
    margin: inherit;
    > * {
      margin: 0px;
    }
  }
}

.make-flex-columns(@n, @i: 1) when (@i =< @n) {
  .flex-cols-@{i} {
    margin: -0.5%;
    > * {
      width: floor(((100 - (@i - 1)) / @i) * 1%);
      margin: 0.5%;
    }
  }
  // Continue the iteration
  .make-flex-columns(@n, (@i + 1));
}
.make-flex-columns(@grid-columns);

.flex-children *,
[class^='flex-cols'] * {
  white-space: normal;
  @media (max-width: @screen-sm-min) {
    display: block;
    width: 100%;
  }
}

/* ------------------------------
 * No Background
------------------------------ */
.bg-transparent {
  background: transparent none;
}

// make all images have a max-width of 100%
img {
  .img-responsive;
}

// align an element to the right
.right {
  float: right;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

// specify figure image and caption styles
figure {
  img {
    .img-thumbnail;
    margin-bottom: @font-size-small / 2;
  }
  figcaption {
    font-size: @font-size-small;
  }
}

// Buttons
.btn {
  font-family: @font-family-sans-serif;
  border-color: transparent;
  &:hover {
    border-color: transparent;
  }
  &.btn-default {
    border-color: @gray-light;
  }
}

// Header
header {
  background-color: @white;
  .box-shadow(0px 3px 6px rgba(0,0,0,.16));
  nav.navbar {
    margin-bottom: 0px;
    .navbar-header {
      display: flex;
      align-items: center;
    }
    .navbar-brand {
      padding: 0px;
      float: none;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  .application-title {
    .h3;
    margin: 0px 0px 0px @font-size-h3;
    padding: 0px;
    color: @green-dark;
    font-family: @font-family-sans-serif;
  }
}

// Nav
nav.navbar {
  padding: @font-size-base 0px;
}
nav.vertical li.divider {
  height: 1px;
  margin: @font-size-base 0px;
  overflow: hidden;
  background-color: @gray-light;
}

// Dropdowns
.dropdown {
  .dropdown-toggle .caret {
    border: none;
    width: auto;
    height: auto;
    margin: 0;
    .fa-icon();
    font-size: 90%;
    &:before {
      content: @fa-var-chevron-down;
    }
  }
  &.open {
    .dropdown-toggle .caret:before {
      content: @fa-var-chevron-up;
    }
  }
}

// Tables
/* ------------------------------
NOTE
TFOOT element is currently not used in any mockups
So we are rounding the last row's edge cells instead of TFOOT
This will need to be resolved if TFOOT becomes necessary
-AS
------------------------------ */
.table {
  > thead,
  > tfoot {
    > tr {
      > th {
        background-color: @gray-light;
      }
    }
  }
  > thead > tr > th {
    &:first-child {
      border-top-left-radius: @border-radius-base;
    }
    &:last-child {
      border-top-right-radius: @border-radius-base;
    }
  }
  // Normally this would be the TFOOT rounding class
  // See note above
  tr:last-child > td {
    &:first-child {
      border-bottom-left-radius: @border-radius-base;
    }
    &:last-child {
      border-bottom-right-radius: @border-radius-base;
    }
  }
}

//
// Wells
// --------------------------------------------------

// Base class
.well {
  min-height: (@font-size-base *2);
  padding: (@font-size-base *2);
  margin-bottom: (@font-size-base *2);
  background-color: @well-bg;
  border: 1px solid @well-border;
  border-radius: @border-radius-base;
  .box-shadow(0px 3px 6px rgba(0,0,0,.16));
}

// Well Group
.well-group {
  margin-bottom: (@font-size-base *2);
  border: 1px solid @well-border;
  border-radius: @border-radius-base;
  overflow: hidden;
  .box-shadow(0px 3px 6px rgba(0,0,0,.16));
  .well {
    margin-bottom: 0px;
    border-width: 1px 0px 0px 0px;
    border-radius: 0px;
    .box-shadow(none);
    &:first-child {
      border: none;
    }
  }
}

//
// Labels
// --------------------------------------------------
.label {
  font-family: @font-family-sans-serif;
  font-weight: 400;
  padding-top: 0.3em;
}


//
// Footer
// --------------------------------------------------

footer {
  background-color: @white;
  color: @gray-darker;
  font-size: @font-size-small;
  padding: (@font-size-small * 2) 0px;
  border-top: 1px solid @well-border;
  .box-shadow(0px 3px 6px rgba(0,0,0,.16));
}

//
// Loaders
// --------------------------------------------------

// Basic
.loader {
  color: @gray-darker;
  .inner {
    text-align: center;
    padding: (@font-size-h1 * 2) 0px;
    .text {
      display: block;
      .small;
      margin-top: 1em;
      color: @gray-dark;
      font-family: @font-family-sans-serif;
    }
  }
}
