// make all images have a max-width of 100%
img {
  .img-responsive;
}

// align an element to the right
.right {
  float: right;
}

// specify figure image and caption styles
figure {
  img {
    .img-thumbnail;
    margin-bottom: @font-size-small / 2;
  }
  figcaption {
    font-size: @font-size-small;
  }
}

// Buttons
.btn {
  font-family: @font-family-sans-serif;
  border-color: transparent;
  &:hover {
    border-color: transparent;
  }
  &.btn-default {
    border-color: @gray-light;
  }
}

// Tables
/* ------------------------------
NOTE
TFOOT element is currently not used in any mockups
So we are rounding the last row's edge cells instead of TFOOT
This will need to be resolved if TFOOT becomes necessary
-AS
------------------------------ */
.table {
  > thead,
  > tfoot {
    > tr {
      > th {
        background-color: @gray-light;
      }
    }
  }
  > thead > tr > th {
    &:first-child {
      border-top-left-radius: @border-radius-base;
    }
    &:last-child {
      border-top-right-radius: @border-radius-base;
    }
  }
  // Normally this would be the TFOOT rounding class
  // See note above
  tr:last-child > td {
    &:first-child {
      border-bottom-left-radius: @border-radius-base;
    }
    &:last-child {
      border-bottom-right-radius: @border-radius-base;
    }
  }
}
