// Elements exclusive to RDW
.average-scale-score-display {
  .label-group {
    display: block;
    margin-top: @font-size-base;
    text-align: center;
    .label {
      .small;
      .sans;
      color: @gray-darkest;
      border: 1px solid @gray;
      &:first-child {
        font-weight: bold;
        border-right: none;
      }
      &:last-child {
        border-left: none;
      }
    }
  }
}

.scale-score {
  display: block;
  font-size: @font-size-h2;
  text-align: center;
  .score {
    .serif;
    font-weight: 700;
  }
  .error-band {
    .sans;
    color: @gray-darkest;
  }
  .table & {
    .sans;
    font-size: @font-size-base;
    .error-band {
      .small;
      color: @gray-darker;
    }
  }
}

.scale-title {
  display: block;
  .sans;
  color: @gray-darker;
  text-align: center;
  margin-bottom: @font-size-base;
}

.scale-score-graph {
  .bar-container {
    .clearfix;
    padding-bottom: @font-size-base * 3;
    .bar {
      position: relative;
      display: block;
      height: @font-size-base * 1.15;
      float: left;
      border-right: 2px solid @white;
      .percentage,
      .bar-label {
        position: absolute;
        left: 0px;
        display: block;
        width: 100%;
        text-align: center;
        overflow: visible;
      }
      .percentage {
        top: @font-size-base * 1.5;
        .sans;
        font-weight: 700;
        color: @gray-darkest;
      }
      .bar-label {
        top: @font-size-base * 3;
        .small;
        color: @gray-darker;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}
