// bundles vendor libraries with ui kit for distributable packaging
@library-path: "../../node_modules";
@import "@{library-path}/bootstrap/less/bootstrap.less";
@import "@{library-path}/font-awesome/less/font-awesome.less";
@import "sbac-ui-kit.less";

@body-bg: @white;

.navbar-header {
  width: 100%;
  .application-title {
    .ml-auto;
  }
}

// adding some wonky styles for the two column layout in the comps
.well-group--horizontal {
  .clearfix();
  background-color: @white;
  .well {
    float: left;
    &:first-child {
      .box-shadow(none);
    }
    &:last-child {
      .border-left-radius(0px);
    }
  }
}

// Previous Results list styling
.previous-results {
  list-style: none;
  list-style-image: none;
  padding-left: 0px;
  li .previous-result {
    display: block;
    border-bottom: 1px solid @gray-dark;
    color: @gray-darker;
    padding: (@padding-base-vertical / 2) @padding-base-horizontal;
    .clearfix();
    > span {
      display:block;
      width: 33%;
      float: left;
    }
    .date {
      padding-top: 11px;
      text-align: left;
      color: @gray-dark;
    }
    .scale-score {
      padding-top: 3px;
      color: @blue-dark;
      .error-band {
        .small;
        color: @gray-dark;
        font-weight: 400;
      }
    }
    .performance-level {
      padding-top: 12px;
      text-align: right;
      .small;
      color: @gray-darker;
    }
  }
}

// Individual Scale Score
.scale-score-graph.individual {
  .bar-container {
    .bar {
      .bar-label {
        font-size: 70%;
        line-height: 1.8;
      }
    }
    .cut-points {
      .label {
        transform: translateX(0);
        margin-left: -21px;
        &:first-child {
          margin-left: -18px;
        }
        &:last-child {
          margin-left: -23px;
        }
      }
    }
  }
}
.assessment-latest-result {
  .date {
    margin-top: @padding-base-vertical;
    font-size: @font-size-base;
  }
}

i.text-center {
  display: block;
}

.navbar-brand {
  display: inline-block;
  height: 56px;
  width: 176px;
  background: url("../images/SmarterBalanced-Logo.png") no-repeat;
  background-size: contain;
}

.scale-score-legend {
  display: inline-block;
  height: 98px;
  width: 278px;
  background: url("../images/scale-score-legend.png") no-repeat;
  background-size: contain;
}
